<div class="row">
 <div class="col-md-11 col-md-offset-1">


<div class="row">

<div class="col-md-5"><h1 class="text-right"><%= team_name(@match.home) %></h1>
<h3 class="text-right">[57] for [1]</h3>
</div>
<div class="col-md-1"><h1 class="text-center">v.s.</div>
<div class="col-md-5"><h1 class="text-left"><%= team_name(@match.away) %></h1>
<h3 class="text-left">[89]</h3>
</div>

</div>

<div class="row">
<div class="col-md-3">
  <h4 class="text-center"><%= team_name(@match.home) %></h4>
  <table class=table table-striped>
  <thead>
  <tr>
   <td></td><td><b>Name</td><td><b>Wkt</td><td class="text-right"><b>Runs</td>
   </tr></thead>
  <tbody>
  <tr><td>1.</td><td>[Botham, W.]</td><td>[CB]</td><td class="text-right">[5]</td></tr>
  <tr><td>2.</td><td>[Broad, S.]</td><td></td><td class="text-right">[2]</td></tr>
  <tr><td>3.</td><td>[Jones, S.]</td><td></td><td class="text-right">[55]</td></tr>
  <tr><td>4.</td><td>[Cook, A]</td><td></td><td class="text-right"></td></tr>
  <tr><td>5.</td><td>[Harold, W.]</td><td></td><td class="text-right"></td></tr>
  <tr><td>6.</td><td>[Draper, S.]</td><td></td><td class="text-right"></td></tr>
  <tr><td>7.</td><td>[Sampson, S.]</td><td></td><td class="text-right"></td></tr>
  <tr><td>8.</td><td>[Morgan, A]</td><td></td><td class="text-right"></td></tr>
  <tr><td>9.</td><td>[Randolp, W.]</td><td></td><td class="text-right"></td></tr>
  <tr><td>10.</td><td>[Ellis, S.]</td><td></td><td class="text-right"></td></tr>
  <tr><td>11.</td><td>[Ryan, S.]</td><td></td><td class="text-right"></td></tr>
  </tbody>
  </table>
  </div>
  
  <div class="col-md-5">
  <br>
    <h4 class="text-center">Overs </h4>
    <h3 class="text-center">[13]/[40]</h3><hr WIDTH="60%" SIZE="6">
    
    <h4 class="text-center">Last Wicket </h4>
    <h3 class="text-center">[23]</h3><hr WIDTH="60%" SIZE="6">
    
    <h3 class="text-center">[Jones, S]  - [55]</h3>
    <h3 class="text-center">[Broad, S] - [2]</h3><hr WIDTH="60%" SIZE="6">
    </div>  
  
  <div class="col-md-3">
    <h4 class="text-center"><%= team_name(@match.away) %> </h4>
    <ul>
    <li>[player A]</li>
    <li>[player B]</li>
    <li>[player C]</li>
    <li>etc</li>
    </ul>
  
    </div>  
  
</div>
</div>

